#leftBar {
    padding: 5%;
    position: absolute;
    background-color: aquamarine;
    min-height: 100%;
}
/* left search row bar--------------------------------------------------------------------------------------------------------- */
#bigBox {
    background-color: blue;
    position: absolute;
    min-height: 100%;
}
/* box containing search and past cities box----------------------------------------------------------------------------------- */
#pastCities {
    height: 100%;
}

/* left search row bar--------------------------------------------------------------------------------------------------------- */
/* body--------------------------------------------------------------------------------------------------------------------------------------- */
body {
    background-color: chocolate;
}
/* body ------------------------------------------------------------------------------------------------------------*/
/* 2 row content and container------------------------------------------------------------------------------------------------ */


.rightCont {
    left: 28%;
    position: fixed;
    padding: 2%;
    min-height: 100%;
    width: 70%;
    background-color: crimson;
}

#clickContent {
    flex: auto;
    padding: 5%;
    position: fixed;
    height: 50%;
    width: 65%;
    background-color: burlywood;
}

#innerContent {
    text-align: center;
    padding: 10%;
    height: 100%;
    background-color: darkgoldenrod;
}
/* ------------------------------------------------------------------------------------------------------------ */
#fiveDay {
    top: 60%;
    /* flex: content; */
    padding: 5%;
    position: fixed;
    background-color: cornflowerblue;
    width: 65%;
    height: 75%;
}


#fiveDayInnerContent {
    height: 50%;
    background-color: darkgreen;
}
/* 2 row content and container------------------------------------------------------------------------------------------------ */


#dayOne {
    top: 0;
    float: left;
    position: relative;
    margin: 1%;
    padding: 5%;
    background-color: black;
}

#dayTwo {
    margin: 1%;
    float: left;
    position: relative;
    padding: 5%;
    background-color: black;
}

#dayThr {
    float: left;
    margin: 1%;
    position: relative;
    padding: 5%;
    background-color: black;
}

#dayFou {
    margin: 1%;
    float: left;
    position: relative;
    padding: 5%;
    background-color: black;
}

#dayFiv {
    margin: 1%;
    float: left;
    position: relative;
    padding: 5%;
    background-color: black;
}
/* buttons ------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#search {
    width: 100%;
}
/* buttons ------------------------------------------------------------------------------------------------------------------------------------------------------------*/