#leftBar {
    position: absolute;
    background-color: aquamarine;
    min-height: 100%;
}
/* left search row bar--------------------------------------------------------------------------------------------------------- */

body {
    background-color: chocolate;
}

#clickContent {
    flex: auto;
    padding: 5%;
    left: 10%;
    position: relative;
    height: 100%;
    background-color: burlywood;
    width: 60%;
}

#fiveDay {
    flex: content;
    padding: 5%;
    left: 10%;
    position: relative;
    height: 100%;
    background-color: cornflowerblue;
    width: 60%;
}

#bigBox {
    background-color: blue;
    position: absolute;
    min-height: 100%;
}
/* box containing search and past cities box----------------------------------------------------------------------------------- */
#pastCities {
    height: 100%;
}



/* buttons ------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#search {
    width: 100%;
}
/* buttons ------------------------------------------------------------------------------------------------------------------------------------------------------------*/